
@import url('https://fonts.googleapis.com/css?family=Underdog');

body{

	/*background-image: url("");*/
	color: #13181c;
	background-color: #dee4e9;
	font-family: 'Underdog', cursive;
}

.container{

}

#dif-section{
	position:relative;
    left: 72%;
    margin-top: 5px;
    margin-bottom: 20px;
   }



header{
	/*background-color: #7990a4;*/
	margin-bottom: 1rem;
	background-color:#f2f2f2;
	border-radius:12px;
	margin-top: 20px;
}

hr {
  border: 1px solid grey;
}

h1{
	font-weight: 900;
	text-align: center;
	font-size: 4rem;
	color: #aa3111;
}

h2{
	font-weight: 600;
	font-size: 1.8rem;
	position: relative;

}
h3{
	color: white;
	font-size: 30px!import;
	font-weight: 1200;
}
#userName, #score{
	color: #aa3111;
	font-size: 2rem;
}


#blackBoard{
	background-image: url("black-board.jpg");
	height: 200px;
	position: relative;
  	text-align: center;
  	border-radius:12px;
}


#overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p{
	font-size: 1.2rem;
}

#message{
	font-size: 1.8rem;
	font-weight: 600;
	color: white;
}

/*#score{
	font-size: 3rem;
	color:red;
}*/
#guessLimit{
	text-decoration: underline;
}
input {
  height: 40px;
}


@media (max-width: 576px){

	#dif-section{
	position:relative;
    left: 0;
    margin-top: 5px;
    margin-bottom: 20px;
   }

}

